// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2024 Google LLC
 */

/dts-v1/;
#include "mt8186-corsola-voltorb.dtsi"

/delete-node/ &rt1019p;
/delete-node/ &max98360a;
/delete-node/ &rt5682s;
/delete-node/ &touchscreen;

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins &touchscreen_pins>;

	touchscreen@16 {
		status = "okay";
		compatible = "hid-over-i2c";
		reg = <0x16>;
		interrupts-extended = <&pio 12 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&pio 60 GPIO_ACTIVE_LOW>;
		vdd-supply = <&pp3300_s3>;
		post-power-on-delay-ms = <450>;
		hid-descr-addr = <0x0001>;
	};

	touchscreen@10 {
		status = "okay";
		compatible = "hid-over-i2c";
		reg = <0x10>;
		interrupts-extended = <&pio 12 IRQ_TYPE_LEVEL_LOW>;
		reset-gpios = <&pio 60 GPIO_ACTIVE_LOW>;
		vdd-supply = <&pp3300_s3>;
		post-power-on-delay-ms = <450>;
		hid-descr-addr = <0x0001>;
	};
};

&i2c2 {
	/delete-node/ touchpad@2c;
	touchpad@68 {
		compatible = "hid-over-i2c";
		reg = <0x68>;
		hid-descr-addr = <0x20>;
		interrupts-extended = <&pio 11 IRQ_TYPE_LEVEL_LOW>;
		vcc-supply = <&pp3300_s3>;
		wakeup-source;
	};
};

&i2c5 {
	clock-frequency = <400000>;

	rt5650: rt5650@1a {
		compatible = "realtek,rt5650";
		reg = <0x1a>;
		avdd-supply = <&mt6366_vio18_reg>;
		pinctrl-names = "default";
		pinctrl-0 = <&rt1019p_pins_default>;
		cbj-sleeve-gpio = <&pio 150 GPIO_ACTIVE_HIGH>;
		interrupt-parent = <&pio>;
		interrupts = <17 IRQ_TYPE_EDGE_BOTH>;
		#sound-dai-cells = <0>;
		realtek,dmic1-data-pin = <2>;
		realtek,jd-mode = <2>;
	};
};

&sound {
	status = "okay";

	compatible = "mediatek,mt8186-mt6366-rt5650-sound";
	mediatek,adsp = <&adsp>;

	playback-codecs {
		sound-dai = <&it6505dptx>;
	};

	headset-codec {
		sound-dai = <&rt5650>;
	};
};
